<h1>Добро пожаловать в Sleep Media!</h1>

<p>На этой странице мы можем увидеть последние статьи и карточки товаров.</p>

<hr>

<h2>Статьи</h2>
<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <strong><%= link_to article.title, article_path(article) %></strong>
        <br>
        <%= truncate(article.content, length: 100) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Все статьи", articles_path %>
<% else %>
  <p>Пока нет статей.</p>
<% end %>

<hr>

<h2>Товары</h2>
<% if @product_cards.any? %>
  <ul>
    <% @product_cards.each do |product_card| %>
      <li>
        <strong><%= link_to product_card.title, product_card_path(product_card) %></strong>
        <br>
        <%= truncate(product_card.description, length: 100) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Все товары", product_cards_path %>
<% else %>
  <p>Пока нет товаров.</p>
<% end %>
