<p style="color: green"><%= notice %></p>

<%= render @sonnik %>

<div>
  <%= link_to "Edit this sonnik", edit_sonnik_path(@sonnik) %> |
  <%= link_to "Back to sonniks", sonniks_path %>

  <%= button_to "Destroy this sonnik", @sonnik, method: :delete %>
</div>

<h1><%= @sonnik.title %></h1>
<p><%= @sonnik.content %></p>
<p><%= link_to "Вернуться на главную", root_path %></p>

