<p style="color: green"><%= notice %></p>

<%= render @sonnik %>

<div>
  <%= link_to "Edit this sonnik", edit_sonnik_path(@sonnik) %> |
  <%= link_to "Back to sonniks", sonniks_path %>

  <%= button_to "Destroy this sonnik", @sonnik, method: :delete %>
</div>
